<br/>
<br/>
<div class="row">
  <div class="col-md-10">
    <h3>{{title | titlecase}}</h3></div></div>

        
        <div class="offset-md-10 col-md-2">
          <a class="text-center"[routerLink]="['/login']">
            <h3>Login</h3>
          </a>
        
      </div>
      
      <div class="row">
          <div class="col-md-10">
    <p class="text-success text-center" style="font-weight:bold">
      To-Do Application is a simple management Application that helps you to
      track your daily records. It provides you an excellent feature to 
      add, delete and update your daily tasks.....
         </p>
         </div>
         </div>
   
  


 <img src="../assets/images/WeeklyKickstart2_800x.jpg" alt="Image has been disrupted and can't be veiwed" width="25%">
